@import "https://fonts.googleapis.com/css?family=Raleway:400,700";

.main {
  display: inline-block;
  position: absolute;
  width: 150px;
  right:100px;
  text-align: left;
  margin: 0px;
  padding: 0px;
  background: transparent;
}
.main label{
  line-height: 45px;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  -webkit-transition: 0.04s ease-in-out;
  transition: 0.04s ease-in-out;
  cursor: pointer;
  transition: 0.08s ease-in;
}

.list {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 45px;
  left: 0px;
  border-top: 1px solid #eee;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.item {
  width: 100%;
  line-height: 45px;
  padding-left: 20px;
  background-color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-weight: 400;
  cursor: pointer;
}
.item:hover {
  background-color: #eee;
}
.list-4 {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  z-index: 10;
}
#drop-4:checked ~ .list-4 {
  visibility: visible;
  opacity: 2;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}